#interactive.viewport {
   height: 288px;
}

#interactive.viewport canvas, video {
   float: left;
   width: 640px;
   height: 480px;
   object-fit: none
}

#interactive.viewport canvas.drawingBuffer, video.drawingBuffer {
   margin-left: -352px;
}