#photo-area.viewport {
    height: 80%;
    width:80%;
    margin: 0 auto;
 }
#photo-area.viewport canvas, video {
    float: left;
    width:80%;
    height: 80%;
    margin: 0 auto;
 }
#main{
   text-align:center;
   margin-left:auto;
   margin-right:auto;
}
#load{
   display: none;
   margin-left:auto;
   margin-right:auto;
   margin-top:auto;
}
