#photo-area.viewport {
    height: 480px;
     width:640px;
 }
 #photo-area.viewport canvas, video {
    float: left;
     width:640px;
    height: 480px;
 }
 #photo-area.viewport canvas.drawingBuffer, video.drawingBuffer {
 }